body {
    font-family: Georgia, serif;
    background: #f5f2ee;
    margin: 0;
    padding: 40px;
    text-align: center;
    transition: opacity 0.4s ease;

  }
  
  h1 {
    margin-bottom: 40px;
  }
  
  .lista {
    display: flex;
    justify-content: center;
  }
  
  .card {
    display: block;
    width: 300px;
    padding: 20px;
    background: white;
    border-radius: 12px;
    text-decoration: none;
    color: black;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .lista {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    max-width: 900px;
    margin: auto;
  }
  
  .fecha {
    font-size: 0.9em;
    color: #666;
  }
  
  p {
    max-width: 700px;
    margin: 20px auto;
    line-height: 1.7;
    text-align: left;
  }
  
  @keyframes aparecer {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .card {
    animation: aparecer 0.6s ease;
  }
  
  h1 {
    animation: aparecer 1s ease;
  }
  
  .corazon {
    position: fixed;
    bottom: -20px;
    font-size: 20px;
    color: rgba(220, 20, 60, 0.4);
    animation: flotar linear forwards;
    pointer-events: none;
  }
  
  @keyframes flotar {
    from {
      transform: translateY(0);
      opacity: 0;
    }
    to {
      transform: translateY(-110vh);
      opacity: 1;
    }
  }
  
  .gato {
    position: fixed;
    bottom: -20px;
    font-size: 20px;
    color: rgba(220, 177, 20, 0.4);
    animation: flotar linear forwards;
    pointer-events: none;
  }
  
  @keyframes flotar {
    from {
      transform: translateY(0);
      opacity: 0;
    }
    to {
      transform: translateY(-110vh);
      opacity: 1;
    }
  }

  body {
    animation: fadeIn 0.6s ease;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  